# build
/target

# idea files
*.iml
/.idea

# node support files
/src/main/qx/basic/build
/node
/node_modules
/npm.tar.gz
/npm-debug.log
/bower_components
/.tscache
/**/.baseDir.ts
/src/*/ts/**/*.js
/src/*/ts/**/*.js.map
